<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
      <h1>Dojo Survey</h1>
      <form class="survey" action="/result" method="post">
        Your Name<input type="text" name="name" value="">
        <select class="" name="locations">
          <option value="San Jose">San Jose</option>
          <option value="Palo Alto">Palo Alto</option>
          <option value="Seattle">Seattle</option>
          <option value="Phonix">Phonix</option>
        </select>
        <select class="" name="leng">
          <option value="Python">Python</option>
          <option value="Java">Java</option>
          <option value="Ruby">Ruby</option>
          <option value="C#">C#</option>
        </select>
        <p>Coment(Optional)</p>
        <textarea name="comment" value=""></textarea>
        <input type="submit" name="" value="Submit">
      </form>
    </div>
  </body>
</html>
